.container {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  flex-basis: 100%;
}

.column-half-menu {
  flex-basis: 50%;
}

.mobile-menu-div {
  justify-content: space-between;
}

@media screen and (min-width: 756px) {
  .desktop {
    display: block;
  }

  .row,
  .flex {
    display: flex;
  }

  .column-half {
    flex-basis: 50%;
  }

  .desktop-reverse {
    flex-direction: row-reverse;
  }
}
