@import "https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap";

body {
  font-family: Epilogue, sans-serif;
  color: hsl(0deg, 0%, 8%);
}

p {
  line-height: 1.5rem;
  color: hsl(0deg, 0%, 41%);
}

.off {
  display: none;
}

.desktop {
  display: none;
}

.mobile-menu-div,
.text-holder {
  padding: 1.5rem;
}

img.mobile {
  width: 100%;
}

.text-holder {
  text-align: center;
}

div.text-holder button {
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-content,
.on {
  padding: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16rem;
  background-color: rgb(255 255 255);
}

.menu-div-mobile,
.on {
  position: fixed;
  right: 16rem;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 60%);
}

.p-menu {
  font-size: 1.2rem;
}

.button-holder-mobile {
  display: flex;
  flex-wrap: wrap;
}

.login-b,
.reg-b {
  flex-basis: 100%;
  font-size: 1.2rem;
}

.login-b {
  color: hsl(0deg, 0%, 41%);
  font-size: 1.2;
  border: none;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

.reg-b {
  color: hsl(0deg, 0%, 41%);
  font-size: 1.2;
  border: solid 2px hsl(0deg, 0%, 41%);
  background-color: transparent;
  padding: 0.8rem;
  border-radius: 15px;
  cursor: pointer;
}

.p-holder {
  padding: 4rem 1rem;
}

div.features-menu-destop p,
div.company-menu-destop p,
.features-mobile-click {
  cursor: pointer;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.more-b:hover {
  color: hsl(0deg, 0%, 8%);
  background-color: transparent;
  border: solid 2px hsl(0deg, 0%, 8%);
}

@media screen and (min-width: 756px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .content-holder {
    width: 60%;
    margin: auto;
  }

  .desktop {
    display: block;
  }

  .row,
  .flex {
    display: flex;
  }

  .mobile {
    display: none;
  }

  img.desktop {
    width: 100%;
  }

  .flex {
    align-items: center;
  }

  .desktop-menu-div {
    padding: 1rem;
    align-items: center;
    font-size: 1rem;
  }

  .buttons-holder {
    text-align: end;
  }

  .text-holder {
    text-align: start;
    padding: 6rem 0;
  }

  h1 {
    font-size: 5rem;
  }

  div.text-holder p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 2rem;
  }

  div.text-holder button {
    font-size: 1.5rem;
    padding: 1.2rem 2.2rem;
    cursor: pointer;
  }

  .p-menu,
  div.features-menu-destop p {
    cursor: pointer;
  }

  div.features-menu-destop,
  .company-menu-destop {
    position: absolute;
    padding: 0.5rem 1.5rem;
    background-color: white;
    box-shadow: 0 0 40px -1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  .reg-b:hover {
    color: hsl(0deg, 0%, 8%);
    border-color: hsl(0deg, 0%, 8%);
  }
}
